<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Home.html</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Bank</display-name>
    <servlet-name>Bank</servlet-name>
    <servlet-class>Bank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bank</servlet-name>
    <url-pattern>/Bank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Balance</display-name>
    <servlet-name>Balance</servlet-name>
    <servlet-class>Balance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Balance</servlet-name>
    <url-pattern>/Balance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposite</display-name>
    <servlet-name>Deposite</servlet-name>
    <servlet-class>Deposite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposite</servlet-name>
    <url-pattern>/Deposite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wthdraw</display-name>
    <servlet-name>wthdraw</servlet-name>
    <servlet-class>wthdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wthdraw</servlet-name>
    <url-pattern>/wthdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransAmt</display-name>
    <servlet-name>TransAmt</servlet-name>
    <servlet-class>TransAmt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransAmt</servlet-name>
    <url-pattern>/TransAmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteone</display-name>
    <servlet-name>deleteone</servlet-name>
    <servlet-class>deleteone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteone</servlet-name>
    <url-pattern>/deleteone</url-pattern>
  </servlet-mapping>
</web-app>